# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# IDE and editor configs
.vscode/
.idea/

# Pytest / coverage / mypy
.coverage
.cache/
.mypy_cache/
.pytest_cache/

# Local configs
*.log